
@media  screen and (min-width: 1024px){
    body{
        background-color: rgba(0, 0, 0, 0.774);
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .title{
      font-size: 3rem;
      color: red;
      font-weight: bolder;
      text-align: center;
      position: relative;
      top: -4vh;
    }
    .father{
      position: relative;
      height: 79vh;
      width: 77vw;
      background-color:blue;
    }
      
    input{
        width: 47vw;
        height: 4vh;
        font-size: 2rem;
        border: none;
        outline: none;
        text-align: center;
        background-color: transparent;
        border-bottom: 1px solid red ;
    
    }
    button{
        height: 4vh;
        width: 15vw;
        font-size: 1rem;
        background-color: blue;
        font-weight: bolder;
    }
     
    p{
      color: red;
      font-size: 2rem;
      text-align: center;
      font-weight: bolder;
    
    }
    .currency{
      color: red;
      font-size: 2rem;
      text-align: center;
      font-weight: bolder;
      width: 44vw;
      height: 2vh;
      position: relative;
      top: 2vh;
    left: 30vh;
    }
    .lang{
      color: red;
      font-size: 2rem;
      text-align: center;
      font-weight: bolder;
      width: 44vw;
      height: 2vh;
      position: relative;
      top: 2vh;
    left: 30vh;
    }
     .border{
        color: red;
        font-size: 34px;
        position: relative;
        top: 1vh;
    right: -1vw;
        font-weight: bolder;
        text-align: center;
        word-break: break-all;
    
     }
    
    .Flag{
      width: 22vh;
      max-width: 100%;
      height: 22;
      max-height: 100% ;
      position: relative;
      left: 32vw;
      top: 1vh;
      animation-name: flap;
      animation-duration: 3s;
      animation-timing-function:ease-out;
    
    }
    //movement for flag
    @keyframes flap {
      
      25% {
        transform: scale(1);
      }
      50% {
          transform: scale(-1);
        }
        75% {
          transform: Scale(1);
        }
        100% {
          transform: scale(-1);
        }
      }
    //loading with its movement
    h1{
      margin-left: 1vw;
    }
    
    .load{
      width: 2vw;
      height: 3vh;
      border: 55px solid #999;
      border-radius: 50%;
      animation: load 100ms infinite linear;
    
    }
    
    @keyframes load{
      from{
        transform: rotate(0);
    
      }
      to{
        transform: rotate(360deg);
      }
    }
    }
    