
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
      body{
               background-color:#fff;
               height: 100vh;
               width: 97vw;
               display: flex;
               justify-content: space-between;
               align-items: center;
               flex-direction: column;
               @include responsive(mobile){
                width: 90vw;
                align-items: flex-start;
                }
                @include responsive(bigscreen){
                  width: 95vw;
                  }
                  @include responsive(minmobile){
                    width: 80vw;
                    }
                    .fatherInput{
                      height: 20vh;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      flex-direction: column;
                      @include responsive(minmobile){
                        height: 10vh;
                      }
                      .title{
                        font-size: 3rem;
                       @include responsive(minmobile){
                        font-size: 2rem;
                        text-align: center;
                      }    
                    }
              input[type="text"]{
                color: #ffff;
              }
              input{
                     width: 47vw;
                       height: 4vh;
                       font-size: 2rem;
                        border: none;
                      outline: none;
                      text-align: center;
                       background-color: transparent;
                    border-bottom: 1px solid red ;
                  }
                  button{
                            height: 4vh;
                            width: auto;
                           font-size: 1rem;
                          background-color: white;
                          font-weight: bolder;
                   }
                    }

  .father{
    display: flex;
    margin-top: 2vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
     background-color: gainsboro ;
     @include responsive(tab){
      height: 100vh;
    }
    @include responsive(mobile){
      height: 120vh;
      width: 90vw;     
      }
      @include responsive(minmobile){
        height: 120vh;
        width: 80vw; 
      }
      .flexRow{
        display: flex;
        flex-direction: row;
        width: auto;
        height: 4vh;
        justify-content: center;
        align-items: center;
        @include responsive(minmobile){
          flex-direction: column;
          border: 1px solid red;
          height: 16vh;
        }
        .border-father{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: auto;
          @include responsive(mobile){  
          } 
          .borders{
            width: auto;
          }
        }
        .fatherlanguage{
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          width: 50%;
          @include responsive(mobile){
            border: 10px solid green;
            flex-direction: column;
            }
            .father-lang-info{
              @include responsive(mobile){
                display: flex;
                height: 4vh;
                justify-content: center;
                align-items: center;
              }
            }
        }
        .flaFather{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          img{
            width: 20vw;
            height: 20vh;
            @include responsive(tab){
              width: 100%;
              }
            @include responsive(mobile){
              width: 100%;
              }
          }
            }
      }
      .flexRowCurrency{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 4vh;
        @include responsive(minmobile){
          height: 12vh;
          }
          .flexRowCurrency > span{
            max-width: 75%;
          }
          .currency{
            width: auto;
            .currencyInfo{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
            }
          }
      }
  }
  span{
    color: #000000;
    font-size: 2rem;
    font-weight: bolder;
  }
  p{
    color: b;
    font-size: 2rem;
    margin-left: 2vh;
  }
  ::placeholder{
    @include responsive(mobile){
      font-size: 1rem;
    }
  }
//loading with its movement
.father-load{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

.load-word{
  color: #ffffff;
  margin-top: 1vh;
}
  .load{
      width: 100px;
      height: 100px;
      border: 20px solid orange;
      border-radius: 50% ;
      border-top: 20px solid transparent ;
      animation: load 200ms infinite linear;

    }  
    @keyframes load{
      from{
        transform: rotate(0);
      }
      to{
        transform: rotate(360deg);
      }
    }  
  }
}